body{
  background: #1e1e1f;
}
/* General */
.text-success { color: rgb(196, 9, 9) !important;}
.bg-success { 
  background: url(Diseño\ sin\ título\ \(2\).png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
.bg-success h1{
  font-size: 60px;
  
}
.bg-success p{
  font-size: 25px;
}
/* Nav */
.navbar{
  background: #1d221e;
}
#templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a {
   color: #fff;
   font-size: 20px;
  }
#templatemo_main_nav a:hover { color: #ec2e2e;}
#templatemo_main_nav a{
  margin-top: 20px;
}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
.imagenRey{
  width: 150px;
}
.navbar-toggler{
  padding-top: 16px;
  background: rgba(216, 219, 211, 0.199);
}
.collapse.show{
margin-top: 30px;
}
.navbar-toggler[aria-expanded="true"]{
position: absolute;
top: 40px;
}
.navbar-toggler{
  padding-top: 16px;
  background: rgba(216, 219, 211, 0.199);
}
.collapse.show{
margin-top: 30px;
}
.navbar-toggler[aria-expanded="true"]{
position: absolute;
top: 40px;
}



/* Services */
.services-icon-wap {transition: .3s;
  cursor: pointer;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: gray;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}


#queO{
  background: rgba(0, 0, 0, 0.158);
  border-radius: 50px;
  margin-bottom: 100px;
}
#contactT label{
  font-size: 25px !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.foot{
  height: 200px;
}

#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;
  }
 }


.icon-cart{
  width: 40px;
  height: 40px;
  stroke: rgb(196, 41, 41) !important;
  cursor: pointer;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  height: 500px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* 4 imágenes, ajustar ancho total */

}

.slide {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: #fff;
  z-index: 2;
}

.content h2 {
  font-size: 48px;
  margin: 0;
  color: #32CD32; /* Color verde */
}

.content p {
  font-size: 20px;
  margin-top: 10px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.servicios{
  height: 41vh;
  margin-top: 20px;
}
.servicios-content{
  display: flex;
  width: 70%;
  margin: auto;
}
.servicios .casilla{
  width: 280px;
  margin: auto;
  background: #262c27;
}
.servicios-content img{
  width: 280px;
  height: 250px;
  padding: 20px;
}
.servicios .button-content {
  width: fit-content; 
  cursor: pointer;
  margin: auto;
  margin-top: 50px;
}

.servicios .button-content .btn-input{
  background:rgb(196, 41, 41);
  color: #fff;
  margin: auto;
  font-size: 25px !important;
  font-weight: 900 !important;
  border: none;
  text-align: center;
  transition: all 0.5s;
  padding: 20px;
  border-radius: 50px;
  text-shadow: 2px 2px 4px rgb(54, 3, 3);
  cursor: pointer;
  border: 2px solid rgb(187, 88, 88);
}

.container h1{
  color: #fff;
  font-size: 50px;
}
.container p{
  color: #fff;
  font-size: 25px;
}
.container h2{
  color: #fff;
}

 
/*Comenzando medias queries*/
/*MQ para NAV*/
@media screen and (max-width:855px){
  /*MQ nav responsive item*/
  .navbar-toggler{
    margin-left: -10px;
  }
}
@media screen and (max-width:832px){
  /*MQ nav responsive item*/
  .navbar-toggler{
    margin-left: -20px;
  }
}
@media screen and (max-width:800px){
  /*MQ nav responsive item*/
  .navbar-toggler{
    margin-left: -30px;
  }
}
@media screen and (max-width:782px){
  /*MQ nav responsive item*/
  .navbar-toggler{
    margin-left: -40px;
  }
}
@media screen and (max-width:590px){
  /*MQ nav responsive item*/
  .navbar-toggler{
    margin-left: -50px;
  }
}
/*Terminando MQ para NAV y empezando MQ para Servicios Flash*/
@media screen and (max-width:1870px) {
  .servicios{
  margin-bottom: 50px;
  }
  
}
@media screen and (max-width:1660px) {
  .servicios .casilla{
    width: 250px;
  }
  .servicios-content img{
    width: 250px;
    height: 230px;
  }
}
@media screen and (max-width:1480px) {
  .servicios .casilla{
    width: 220px;
  }
  .servicios-content img{
    width: 220px;
    height: 210px;
  }
}
@media screen and (max-width:1320px) {
  .servicios .casilla{
    width: 190px;
  }
  .servicios-content img{
    width: 190px;
    height: 180px;
  }
}
@media screen and (max-width:1150px) {
  .servicios{
    height: 53vh;
  }
  .servicios-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
  }
}
@media screen and (max-width:1024px) {
  .servicios{
  margin-bottom: 50px;
  height: fit-content;
  }
  
}
@media screen and (max-width:575px) {
  .servicios{
    margin-left: -15px;
  }
  .servicios-content{
    column-gap: 1em;
  }
}
@media screen and (max-width:550px) {
  .servicios{
    margin-left: -20px;
  }
  .servicios .button-content .btn-input{
    margin-left: 40px;
  }
}
@media screen and (max-width:540px) {
  .servicios{
  height: fit-content;
  margin-bottom: 50px;
  }
  .servicios-content{
    column-gap: 2em;
  }
  
}
@media screen and (max-width:530px) {
  .servicios{
    margin-left: -25px;
  }
  .servicios-content{
    column-gap: 1em;
  }
}
@media screen and (max-width:520px) {
  .servicios{
    margin-left: -30px;
  }
}
@media screen and (max-width:430px) {
  .servicios{
    margin-left: -25px;
    height: fit-content;
    }
    .servicios .casilla{
      width: 160px;
    }
    .servicios-content img{
      width: 160px;
      height: 150px;
      padding: 10px;
    }
    .button-content{
    margin-bottom: 40px !important;
   }
}
@media screen and (max-width:390px) {
  .servicios{
  margin-left: -35px;
  height: fit-content;
  }
  
}
@media screen and (max-width:380px) {
  .servicios{
  margin-left: -45px;
  height: fit-content;
  }
  
}
@media screen and (max-width:360px) {
  .servicios{
  margin-left: -48px;
  height: fit-content;
  }
  
}
@media screen and (max-width:344px) {
  .servicios{
  margin-left: -56px;
  }
  .servicios .btn-input{
    margin-left: 70px !important;
  }
  
}
/*Terminando MQ para SF y empezando MQ para About Me*/
@media screen and (max-width:1448px) {
.bg-success p{
font-size: 20px;
}
  
}
@media screen and (max-width:1360px) {
  .bg-success img{
  margin-left: -100px;
  }
    
}
@media screen and (max-width:1090px) {
  .bg-success img{
  margin-left: -100px;
  width: 450px;
  }  
}
@media screen and (max-width:991px) {
  .bg-success img{
   margin-left: -90px;
  width: 420px;
  }
}
@media screen and (max-width:890px) {
  .bg-success img{
   margin-left: -100px;
  width: 390px;
  }
}
@media screen and (max-width:810px) {
  .bg-success img{
   margin-left: -80px;
  width: 350px;
  }
}
@media screen and (max-width:767px) {
  .bg-success img{
   width: 400px;
   margin: auto;
  }
  .bg-success h1{
  text-align: center;
}
}
@media screen and (max-width:680px) {
  .bg-success p{
   font-size: 17px;
  }

}
@media screen and (max-width:415px) {
  .bg-success img{
   margin-left: -50px;
  }
}
@media screen and (max-width:380px) {
  .bg-success img{
   margin-left: -10px;
  width: 300px;
  }
}
@media screen and (max-width:368px) {
  .bg-success h1{
  font-size: 30px;
  }
  .bg-success img{
   margin-left: -10p;
  width: 300p;
  }
}
@media screen and (max-width:300px) {
  .bg-success img{
   margin-left: -40px;
  }
}
/*Terminando MQ para About Me y empezando MQ para contacto.html*/
.row .btn-success {
  margin-left: -62px !important;
  margin-top: -11px;
}
@media screen and (max-width:1055px) {
  .row .btn-success {
    margin-top: 25px;
  }
}
@media screen and (max-width:1024px) {
  .row .btn-success {
    margin-top: 160px;
  }
}
@media screen and (max-width:992px) {
  .row .btn-success {
    margin-top: 8px;
  }
}
@media screen and (max-width:912px) {
  .row .btn-success {
    margin-top: 140px;
  }
}
@media screen and (max-width:853px) {
  .row .btn-success {
    margin-top: 180px;
  }
}
@media screen and (max-width:820px) {
  .row .btn-success {
    margin-top: 230px;
  }
}
@media screen and (max-width:784px) {
  .row .btn-success {
    margin-top: 45px;
  }
}
@media screen and (max-width:768px) {
  #queO{
    border-radius: 0px;
    padding: 30px;
  }
  .row .btn-success {
    margin-top: 310px;
    margin-left: -60px !important;
  }
}
@media screen and (max-width:550px) {
  .row .btn-success {
    margin-top: 325px;
  }
}
@media screen and (max-width:540px) {
  .row .btn-success {
    margin-top: 420px;
  }
}
@media screen and (max-width:430px) {
  .row .btn-success {
    margin-top: 350px;
  }
}
@media screen and (max-width:415px) {
  .row .btn-success {
    margin-top: 360px;
  }
}
@media screen and (max-width:412px) {
  .row .btn-success {
    margin-top: 360px;
  }
}
@media screen and (max-width:390px) {
  .row .btn-success {
    margin-top: 390px;
  }
}
@media screen and (max-width:375px) {
  .row .btn-success {
    margin-top: 480px ;
  }
}
@media screen and (max-width:360px) {
  .row .btn-success {
    margin-top: 480px;
  }
}
@media screen and (max-width:344px) {
  .row .btn-success {
    margin-top: 410px;
  }
}
